<div class="container" style="margin-top: 5%">
  <h2>Author Details</h2>
  <div *ngIf="author">
    <h2>Information on {{ author.name | uppercase }}</h2>
    <div>
      <label>Num:
        <input [ngModel]="author.num" readonly>
      </label>
    </div>
    <div>
      <label>Name:
        <input [(ngModel)]="author.name" placeholder="name">
      </label>
    </div>
    <div>
      <label>Email:
        <input [(ngModel)]="author.email" placeholder="email">
      </label>
    </div>
    <br>
    <button (click)="goBack()">Go Back!</button>
  </div>
</div>
