{% load static %}

<table id="bodyCV">
    <tr>
        <td class="tableHeader tableHeaderHeight">
            <p>Europass</p>
            <p>Curriculum vitae</p>
            <p class="importantParagraph">Personal information</p>
        </td>
        <td class="spacer1">&nbsp;&nbsp;</td>
        <td class="spacer2 separator tableHeaderHeight"></td>
        <td class="spacer2 tableHeaderHeight">&nbsp;&nbsp;</td>
        <td class="tableHeaderHeight" id="foto"><img src="{% static 'img/'|add:foto %}" style="height: 100px"></img></td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="fieldsHeader">Surname(s) / First name(s)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="name">{{ personalInfo.name.lastname }} / {{ personalInfo.name.firstname }} </td>
    </tr>
    <tr>
        <td class="fieldsHeader">Address(es)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue"
            id="address">{{ personalInfo.address.street }}, {{ personalInfo.address.cp }}, {{ personalInfo.address.local }}, {{ personalInfo.address.country }}</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Telephone(s)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="phone">{{ personalInfo.contact.phone.countryprefix }} {{ personalInfo.contact.phone.number }}</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Fax(es)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="fax">{{ personalInfo.contact.fax.countryprefix }} {{ personalInfo.contact.fax.number }}</td>
    </tr>
    <tr>
        <td class="fieldsHeader">E-mail(s)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="email">
            {% for email in personalInfo.contact.email %}
                <b>{{ email.type }}:</b> {{ email.value }}&nbsp;&nbsp;|&nbsp;&nbsp;
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="fieldsHeader">Nationality(-ies)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="nationality">{{ personalInfo.nacionality }}</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Date of birth</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="birthdate">{{ personalInfo.birthdate.day }}/ {{ personalInfo.birthdate.month }}/ {{ personalInfo.birthdate.year }}</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Gender</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="gender">{{ personalInfo.gender }}</td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="spacer3">
            <p class="importantParagraph">Desired employment /<br>Occupational field</p>
        </td>
        <td class="spacer1 spacer3"></td>
        <td class="spacer2 spacer3 separator">&nbsp;</td>
        <td class="spacer2 spacer3"></td>
        <td class="fieldsValue spacer3" id="desiredEmploy">{{ desiredEmploy }}</td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="fieldsHeader">Work experience</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="fieldsHeader">Dates</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="wexpDates">&nbsp;</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Occupation or position held</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="occupation">&nbsp;</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Main activities and responsibilities</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="activities">&nbsp;</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Name and address of employer</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="employer">&nbsp;</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Type of business or sector</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="businessSector">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
</table>

<p></p>

