<table id="bodyCV">
    <tr>
        <td class="tableHeader tableHeaderHeight">
            <p>Europass</p>
            <p>Curriculum vitae</p>
            <p class="importantParagraph">Personal information</p>
        </td>
        <td class="spacer1">&nbsp;&nbsp;</td>
        <td class="spacer2 separator tableHeaderHeight"></td>
        <td class="spacer2 tableHeaderHeight">&nbsp;&nbsp;</td>
        <td class="tableHeaderHeight" id="foto"><img src="{{ person.photo.url }}" style="height: 100px"
                                                     alt=""/>{{ MEDIA_URL }}</td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="fieldsHeader">Surname(s) / First name(s)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="name">{{ person.last_name }} / {{ person.first_name }} </td>
    </tr>
    <tr>
        <td class="fieldsHeader">Address(es)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue"
            id="address">{{ person.address.street }}, {{ person.address.cp }}, {{ person.address.local }}, {{ person.address.country }}</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Telephone(s)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="phone">
            {% for phone in phones %}
                {{ phone.countryprefix }} {{ phone.number }}&nbsp;&nbsp;|&nbsp;&nbsp;
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td class="fieldsHeader">Fax(es)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="fax">
            {% for fax in faxes %}
                {{ fax.countryprefix }} {{ fax.number }}&nbsp;&nbsp;|&nbsp;&nbsp;
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td class="fieldsHeader">E-mail(s)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="email">
            {% for email in emails %}
                <b>{{ email.email_type }}:</b> {{ email.value }}&nbsp;&nbsp;|&nbsp;&nbsp;
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="fieldsHeader">Nationality(-ies)</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="nationality">{{ person.nationality }}</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Date of birth</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="birthdate">{{ person.birth_date }}</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Gender</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="gender">{{ person.gender }}</td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="spacer3">
            <p class="importantParagraph">Desired employment /<br>Occupational field</p>
        </td>
        <td class="spacer1 spacer3"></td>
        <td class="spacer2 spacer3 separator">&nbsp;</td>
        <td class="spacer2 spacer3"></td>
        <td class="fieldsValue spacer3" id="desiredEmploy">{{ person.desired_job }}</td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="fieldsHeader">Work experience</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
    <tr>
        <td class="fieldsHeader">Dates</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="wexpDates">&nbsp;</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Occupation or position held</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="occupation">&nbsp;</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Main activities and responsibilities</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="activities">&nbsp;</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Name and address of employer</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="employer">&nbsp;</td>
    </tr>
    <tr>
        <td class="fieldsHeader">Type of business or sector</td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td class="fieldsValue" id="businessSector">&nbsp;</td>
    </tr>
    <tr>
        <td></td>
        <td class="spacer1"></td>
        <td class="spacer2 separator">&nbsp;</td>
        <td class="spacer2"></td>
        <td></td>
    </tr>
</table>

<p></p>

